
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Módulo 6</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Quiz</h1>
        <form action="{{ url_for('submit_quiz') }}" method="POST">
            {% for question in questions %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ question['question'] }}</h5>
                        <ul class="list-group">
                            {% for option in question['options'] %}
                                <li class="list-group-item">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="{{ option }}" name="{{ question['id'] }}" value="{{ option }}" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ option }}">{{ option }}</label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Adicione os scripts do Bootstrap no final do corpo -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>