{% extends 'base.html' %}

{% block title %}Módulo 7{% endblock %}

{% block styles %}
<style>

body{
    justify-content: space-around;
    margin: 0%;
    margin-bottom: 0%;
    font-family: 'Alatsi',  sans-serif;
    background-color: #C8C8C8;
}

#menu ul{
    background-color: #32363f;
    list-style: none;
}

#menu{ 
    padding: 52px 25px; 
    background-color:#32363f; 
    color: #32363f; 
    justify-content: space-around;
}

#menu ul li a{ 
    padding: 30px 10px; 
    background-color:#32363f; 
    color: #32363f; 
    font-family: "Poppins", sans-serif;
}

#menu ul li{
    left: 31pc;
    display: inline;
    padding: 13px
} 

.img{
    justify-content: space-around;
    display: flex;
    float:right ;
    margin: 0 10px 10px 0;
    position: absolute;
    top: 04pc;
    right: 7pc;
}

.div2{
    display: flex;
    width: 91,5pc;
    display: flex;
    border-top: 10vh solid #32363F;
    border-left: 9vh solid #32363F;
    height: 45vh;    background-color: #32363F;
    margin-bottom: -94px;

}

footer{
    background-color: #32363f;
    height: 30vh;
}

.footer-custom{ 
    font-family: "Poppins", sans-serif;
    color: #C8C8C8;
    background-color: #32363f;
    height: 18vh;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

.divtext{
    margin-top: -3pc;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}
.funcoes{
    margin-top: 6pc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    text-align: justify;
}
.h3{
    line-height: 1.5;
    text-indent: 20px;
}
p{
    line-height: 1.5;
    text-indent: 50px;
}
.pp{
    line-height: 1.5;
    text-indent: 80px;
}
.pp2{
    line-height: 1.5;
    text-indent: 100px;
}
.ppp{
    line-height: 1.5;
    text-indent: 120px;
}
.ppp2{
    line-height: 1.5;
    text-indent: 140px;
}
.imag{
    width: 45%;
    height: 45%;
    margin-left: 350px;
    margin-right: 350px;
}
.cardcard {
    box-shadow: 0 4px 8px 0 #1c1e21;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cardcard:hover {
    box-shadow: 0 8px 16px 0 #1c1e21;
}
.containercard{
    background-color: #32363F;
    padding: 2px 16px;
}
.btn.btn-lg.btn-dark{
    background-color:#32363F;
}
.btn.btn-lg.btn-dark:hover{
    background-color: #464c5c;
}
.d-grid.gap-2.d-md-flex{
    justify-content: space-between;
}
.btn.my-5{
    font-size: larger;
}
.btnrafa:hover{
    color: #464c5c;
}
</style>
{% endblock %}

{% block content %}
<!-- Conteúdo específico para a página 7 -->
<div class="div2">
    <img src="{{ url_for('static', filename='/imgs/Introdução7.png') }}" width="500" height="500" class="img">
    <h1 style="font-size: 5pc; position: absolute;top: 13pc; left:59px;"><font color="D6D6D6">7. ESTIMATIVA</font></h1>
</div>
<div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>

<!-- Curso -->
    <div class="divtext">
        <h1>Estimativa</h1>
            <p><strong><i>O que é estimativa?</i></strong></p>
                <p class="pp">Aplicada em Story Points, é utilizada para estimar a quantidade de tempo e esforço que uma tarefa necessita. Os Pontos de História/Story Points são unidades de medida usadas para expressar o tamanho geral de uma História do Usuário, ou como são conhecidas, as User Stories. Quando fazemos estimativas com Pontos de História, atribuímos um valor, ou Story Points, a cada item.</p>
                <p class="pp">Primeiramente, decide-se a tarefa com menos esforço (1) e classifica-se as próximas em comparação a ela.</p>
                <p class="pp">Os valores brutos que são atribuídos não são importantes, sendo os valores relativos mais importantes para o processo das estimativas.</p>
        <br>

        <img src="{{ url_for('static', filename='/imgs/Estimativa7.png')}}" class="imag"> </p>

        <br>

        <h1>Com isso, como estimar usando Story Points(Pontos de História)? </h1>

        <p> Vamos agora a três passos que devem ser seguidos para estimar usando Pontos de História:</p>
            <p class="pp"><strong><i> 1. Escolher uma escala: </i></strong></p>
                <p class="pp2"> Diferentemente de projetos tradicionais, em que a estimativa é transformada em horas ou dias, uma equipe Scrum desenvolve sua própria escala de medida. No próximo tópico, serão apresentados mais detalhes a respeito da escala tradicionalmente utilizada em projetos Scrum.</p>
            <p class="pp"><strong><i> 2. Escolha itens de referência: </i></strong></p>
                <p class="pp2">O Scrum permite que as equipes respondam rapidamente a mudanças e imprevistos. Depois que a escala de medida foi definida, escolhem-se um ou mais itens de referências para se criarem os pontos da escala. </p>
                <p class="pp2">Depois que a escala de medida foi definida, escolhem-se um ou mais itens de referências para se criarem os pontos da escala. </p>
                <p class="pp2">É recomendável que se escolha o menor item da lista, pois facilita a estimativa de esforço dos seguintes itens e, com isso, você começa a criar uma unidade de medida de desenvolvimento. </p>

            <p class="pp"><strong><i> 3. Estime itens do Product Backlog:</i></strong></p>
                <p class="pp2">Uma vez criada a referência, começa-se a realizar a estimativa dos itens do topo do Product Backlog.
                <p class="pp2">Sendo o processo em que a equipe de desenvolvimento define a grandeza de cada item da lista, a partir do item de referência.</p>
        
        <h1>Planning Poker</h1>
        <br>
        <img src="{{ url_for('static', filename='/imgs/PlanningPoker7.png') }}" width="400px" height="400" class="imag">
        <br>
            <p>Um dos métodos de estimativa mais populares é o Planning Poker, que consiste em um jogo colaborativo em que os membros do time atribuem um valor de Story Points a cada item do backlog, baseando-se em critérios como o tamanho, a dificuldade, o risco e a incerteza da tarefa.</p>
            <p>O Planning Poker estimula a discussão e o consenso entre os participantes, além de evitar influências externas ou viéses individuais.</p>
            <p>No início do Planning Poker, cada membro do time recebe um conjunto de cartas com valores de estimativa (por exemplo, 0, 1, 2, 3, 5, 8, 13, 20, 40 e 100). Esses valores geralmente seguem uma escala baseada na sequência de Fibonacci, embora outras sequências também possam ser usadas.</p>
    
            <p>Para cada User Story a ser estimada, o Product Owner lê a descrição e esclarece eventuais dúvidas do time. Entretanto, é importante notar que, em certo ponto, discussões adicionais não aumentam a precisão da estimativa.</p>
            <p>Nesse ponto, é comum que as estimativas variem significativamente, o que na verdade é um bom sinal. As diferenças nas estimativas levam a discussões entre os membros do time, o que ajuda a chegar a um consenso mais acurado. Depois das explanações e discussões, todos recolhem suas cartas e estimam novamente, seguindo o mesmo processo.</p>
        <br>

        <h1>Por que o “Planning Poker” funciona?</h1>
            <p>O "Planning Poker" funciona porque aproveita a expertise de diversos membros do time na estimativa. Como esses membros são multidisciplinares, eles estão mais bem qualificados para estimar as histórias do que qualquer outra pessoa.</p>
            <p>-Além disso, os diálogos e justificativas durante o "Planning Poker" resultam em estimativas mais precisas, especialmente para itens com maior incerteza.</p>
            <p>Isso é crucial em projetos com níveis consideráveis de complexidade.</p> 
            <p> Estudos também demonstram que a média das estimativas individuais leva a melhores resultados, pois promove discussões em grupo. Essas discussões são a base do "Planning Poker" e levam a um consenso entre os participantes.</p>

        <br>

        <h1>Sequência de Fibonacci</h1>
            <p>A sequência de Fibonacci é a escala mais comumente usada na estimativa de User Stories com o "Planning Poker". Isso se deve ao fato de que a sequência de Fibonacci é uma função quadrática, proporcionando diferenças mais significativas desde o início da sequência.</p>
            <p>Embora existam outras sequências quadráticas, a sequência de Fibonacci produz intervalos distintos rapidamente, refletindo a imprecisão de acordo com o tamanho da história.<br>
            Por exemplo, uma história de tamanho 8 não significa necessariamente que ela é exatamente do tamanho 8, mas sim que seu tamanho está entre 5 e 13.</p>

        <br>

        <h1>Velocidade</h1>
            <p> A velocidade representa a capacidade de um Time de Desenvolvimento em uma Sprint e é sempre medida usando a mesma unidade aplicada na estimativa dos itens.
        Essa velocidade auxilia os Product Owners no planejamento de Releases e os Times de Desenvolvimento no planejamento das Sprints, caso necessário.</p>
            <p class="pp"><strong><i>Lista priorizada de itens de trabalho:</i></strong> Esta é uma lista que contém todas as tarefas que precisam ser realizadas para desenvolver ou melhorar um produto. Essas tarefas podem incluir coisas como adicionar novos recursos, corrigir problemas existentes, melhorar a infraestrutura do sistema, entre outras.</p>
            <p class="pp"><strong><i>Elaborada pelo Time Scrum, mas somente o Product Owner tem autoridade para gerenciá-la:</i></strong> O Time Scrum, que inclui desenvolvedores, designers, testadores, etc., trabalha em conjunto para criar e priorizar essa lista de tarefas. No entanto, apenas o Product Owner, que é responsável por representar os interesses do cliente ou do usuário final, tem o poder de decidir quais tarefas serão realizadas e em que ordem.</p>
            <p class="pp"><strong><i>Contém itens de negócios, funcionais, não funcionais, arquiteturais e de infraestrutura, além de itens que representam riscos:</i></strong> Essa lista não se limita apenas a novos recursos ou funcionalidades visíveis para o usuário. Ela também inclui tarefas relacionadas à parte técnica do sistema, como melhorias na arquitetura do software, atualizações de infraestrutura de servidores, garantia de segurança, etc. Além disso, podem ser incluídos itens relacionados a questões de negócios, como a necessidade de atender a regulamentações específicas ou reduzir riscos de segurança.</p>
            <p class="pp"><strong><i>Itens ordenados de acordo com sua importância, com os mais importantes no topo:</i></strong> As tarefas na lista são organizadas de acordo com sua prioridade, com aquelas consideradas mais importantes ou urgentes no topo da lista. Isso permite que a equipe saiba quais tarefas devem ser abordadas primeiro.</p>
            <p class="pp"><strong><i>Cada item deve ser suficientemente pequeno e ter critérios claros de aceitação para ser incluído em uma Sprint:</i></strong> Para que uma tarefa seja considerada pronta para ser trabalhada em uma iteração (Sprint) do desenvolvimento, ela precisa ser clara e específica o suficiente, além de ter critérios claros que definam quando ela estará completa e pronta para ser entregue aos usuários. Isso garante que a equipe possa trabalhar de forma eficiente e entender exatamente o que precisa ser feito.</p>
        </ul> 
        <br>
        <br>
        <div class="cardcard">
            <div class="containercard">
                <br>
                <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p>
                    <p class="pp"><font color="#C8C8C8"> Imagine que uma equipe de desenvolvimento de software utiliza o SCRUM para estimar quantidade de tempo e esforço necessário para implementar novas funcionalidades em um aplicativo. </font> </p>

                        <p class="pp2"><font color="#C8C8C8"><strong><i>1. Sprint Planning:</i></strong></font></p>
                            <p class="ppp"><font color="#C8C8C8">Antes de iniciar o Sprint, a equipe realiza uma reunião de Sprint Planning.<br>Durante essa reunião, o Product Owner apresenta as User Stories selecionadas do backlog para o próximo Sprint.</font></p>

                        <p class="pp2"><font color="#C8C8C8"><strong><i>2. Estimativa:</i></strong></font></p>
                            <p class="ppp"><font color="#C8C8C8">Para cada história de usuário apresentada, a equipe realiza a estimativa do esforço necessário para sua implementação.</font></p>
                            <p class="ppp"><font color="#C8C8C8">Eles utilizam a técnica de Planning Poker, na qual cada membro recebe cartas com valores discretos (como 0, 1, 2, 3, 5, 8, 13) e, após uma discussão sobre a complexidade da história e os possíveis riscos, cada membro escolhe uma carta que representa sua estimativa de esforço.</font> </p>

                        <p class="pp2"><font color="#C8C8C8"><strong><i>3. Discussão e Consenso:</i></strong></font></P>
                            <p class="ppp"><font color="#C8C8C8">Após todos os membros revelarem suas cartas, a equipe discute as diferenças nas estimativas e compartilha os motivos por trás de suas escolhas.<br>
                            Durante essa discussão, os membros podem explicar os aspectos técnicos que tornam uma história mais complexa do que outra, ou podem identificar riscos que aumentam o esforço necessário para sua implementação.</font></p>
                            <p class="ppp"><font color="#C8C8C8">O objetivo é chegar a um consenso sobre a estimativa para cada história de usuário.</font></p>

                        <p class="pp2"><font color="#C8C8C8"><strong><i>4. Registro das Estimativas:</i></strong></font></P>
                            <p class="ppp"><font color="#C8C8C8">As estimativas finais são registradas no backlog do produto, associadas a cada User Story.<br>Isso permite que a equipe planeje a capacidade do Sprint com base nas estimativas de esforço para as User Stories selecionadas.</font> </p>

                        <p class="pp"><font color="#C8C8C8"><strong><i>5. Planejamento da Capacidade do Sprint:</i></strong></font></p>
                            <p class="ppp"><font color="#C8C8C8">Com as estimativas de esforço em mãos, a equipe pode calcular quantas User Stories podem ser concluídas dentro da Sprint, levando em consideração a capacidade de trabalho disponível. 
                            <p class="ppp"><font color="#C8C8C8">Isso ajuda a equipe a definir metas realistas para o Sprint e a gerenciar as expectativas do Product Owner.</font></p>
                
                        <p class="pp2"><font color="#C8C8C8"><strong><i>6. Desenvolvimento:</i></strong></font></p>
                            <p class="ppp"><font color="#C8C8C8">Durante o Sprint, os desenvolvedores trabalham nas User Stories atribuídas, utilizando as estimativas de esforço como referência para o tempo necessário para concluir cada tarefa.
                            
                        <p class="pp2"><font color="#C8C8C8"><strong><i>7. Avaliação da Precisão das Estimativas:</i></strong></font></p>
                            <p class="ppp"><font color="#C8C8C8">Ao final do Sprint, durante a Retrospectiva do Sprint, a equipe pode revisar as estimativas feitas para as User Stories concluídas e compará-las com o tempo real gasto em sua implementação.</font></p>
                            <p class="ppp"><font color="#C8C8C8">Isso permite que a equipe avalie a precisão de suas estimativas e faça ajustes para melhorar a precisão das estimativas futuras. </font></p>
                            <p class="ppp"><font color="#C8C8C8">O objetivo é chegar a um consenso sobre a estimativa para cada história de usuário</font></p>
            </div>
        </div>
        <br>
        <br>
        <hr class="text-dark">
        <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-lg btn-dark" href="/mod_7_quiz">Teste seu conhecimento</a>
            </div>
            <br>
            <br>
            <div>
                <div class="d-grid gap-2 d-md-flex">
                    <a class="btn my-5 btnrafa" href="/mod_6"><i><strong>← Módulo anterior<strong></i></a>
                    <a class="btn my-5 btnrafa" href="/modulos"><i><strong>Módulos →</strong></i></a>
                </div>
            </div>
        <br>
    </div>  
{% endblock %}

