{% extends 'base.html' %}

{% block title %}Módulos{% endblock %}

{% block styles %}
        <style>
            body{
                justify-content: space-around;
                margin: 0%;
                margin-bottom: 0%;
                font-family: 'Alatsi',  sans-serif;
                background-color: #C8C8C8;
            }

            #menu ul{
                background-color: #32363f;
                list-style: none;
            }

            #menu{ 
                padding: 52px 25px; 
                background-color:#32363f; 
                color: #32363f; 
                justify-content: space-around;
            }

            #menu ul li a{ 
                padding: 30px 10px; 
                background-color:#32363f; 
                color: #32363f; 
                font-family: "Poppins", sans-serif;
            }

            #menu ul li{
                left: 31pc;
                display: inline;
                padding: 13px
            } 

            .img{
                justify-content: space-around;
                display: flex;
                float:right ;
                margin: 0 10px 10px 0;
                position: absolute;
                top: 04pc;
                right: 7pc;
            }

            .div2{
                display: flex;
                width: 91,5pc;
                display: flex;
                border-top: 10vh solid #32363F;
                border-left: 9vh solid #32363F;
                height: 45vh;    background-color: #32363F;
                margin-bottom: -94px;

            }

            footer{
                display: flex;
                background-color: #32363f;
                height: 30vh;
            }

            .footer-custom{
                margin: auto 9vh;
                font-family: "Poppins", sans-serif;
                color: #C8C8C8;
                background-color: #32363f;
                height: 18vh;
                padding: 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-between
            }

            .divtext{
                margin-top: -3pc;
                margin-left: 100px;
                margin-right: 100px;
                text-align: justify;
            }
            .funcoes{
                margin-top: 6pc;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 80px;
                text-align: justify;
            }
            p{
                line-height: 1.5;
                text-indent: 50px;
            }
            .pp{
                line-height: 1.5;
                text-indent: 80px;
            }
            .pp2{
                line-height: 1.5;
                text-indent: 100px;
            }
            .ppp{
                line-height: 1.5;
                text-indent: 120px;
            }
            .ppp2{
                line-height: 1.5;
                text-indent: 140px;
            }
            .imag{
                width: 45%;
                height: 45%;
                margin-left: 450px;
                margin-right: 350px;
            }
            .card {
                box-shadow: 0 4px 8px 0 #1c1e21;
                transition: 0.3s;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .card:hover {
                box-shadow: 0 8px 16px 0 #1c1e21;
            }
            .container {
                background-color: #32363F;
                padding: 2px 16px;
            }
            .button {
                background-color: #32363F;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button:hover {opacity: 0.8}

            .button2 {
                background-color: #32363f;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button2:hover {opacity: 0.8}

            .position_btn{
                display: flex;
                justify-content:center;
                align-items: center;
            }
        </style>
{% endblock %}

{% block content %}
        <div class="div2">
            <img src="{{ url_for('static', filename='/imgs/capa_mod7.png') }}" width="500px" height="500" class="img">
            <h1 style="font-size: 5pc; position: absolute;top: 13pc; left:59px;"><font color="D6D6D6"> 6. APÊNDICE</font></h1>
        </div>
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
        </div>

        <!-- curso -->

        <div class="divtext">

        <!--Auto Organização-->

            <h1> Auto-Organização </h1>
            <P class="pp"><strong> 1. Importância da Auto-Organização no Scrum: </strong></P> 
                <p class="pp2">
                    Na gestão de projetos ágeis, como no Scrum, a auto-organização é um princípio essencial que impulsiona a autonomia e a eficiência das equipes. Neste capítulo, exploraremos como a auto-organização se torna a espinha dorsal de equipes ágeis bem-sucedidas, promovendo um ambiente de trabalho colaborativo e orientado para resultados.
                </p>
        <br>
            <P class="pp"><strong> 2. A Base da Autonomia e Responsabilidade: </strong></P> 
                <p class="pp2">
                    A auto-organização é muito mais do que delegar tarefas; é um conceito que permeia toda a cultura ágil. Ela se baseia na confiança mútua entre os membros da equipe e na clareza dos objetivos do projeto. Ao permitir que as equipes decidam como realizar o trabalho, elas se tornam mais engajadas e responsáveis pelo sucesso do projeto.
                </p>
            <div class="card">
                <div class="container">
                    <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                        <p class="ppp"><font color="#C8C8C8">
                            Em vez de esperar por instruções detalhadas, a equipe decide autonomamente sobre a melhor abordagem para implementar o recurso de notificação. Eles entendem a importância de manter os usuários engajados e responsáveis por suas tarefas, alinhando-se com os objetivos do projeto.</font> 
                        </p>                    
                </div>
            </div>
        <br>
            <P class="pp"><strong> 3. Promovendo a Colaboração e Comunicação: </strong></P> 
                <p class="pp2">
                    Um dos maiores benefícios da auto-organização é a promoção da colaboração ativa e da comunicação efetiva entre os membros da equipe. Ao se sentirem capacitados a tomar decisões, os membros da equipe se tornam mais propensos a compartilhar conhecimento, ideias e feedbacks, criando um ambiente propício à inovação e ao progresso.
                </p>
            <div class="card">
                <div class="container">
                    <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                        <p class="ppp"><font color="#C8C8C8">
                            Durante o desenvolvimento, os membros da equipe colaboram ativamente, compartilhando conhecimentos sobre diferentes métodos de implementação de notificações. Eles têm discussões construtivas sobre as melhores práticas e trocam feedbacks para melhorar o processo.</font> 
                        </p>                    
                </div>
            </div>   
        <br>     
            <P class="pp"><strong> 4. Flexibilidade e Adaptação Constante: </strong></P> 
                <p class="pp2">
                    A natureza volátil dos projetos ágeis exige uma abordagem flexível e adaptável. A auto-organização permite que as equipes se ajustem rapidamente a mudanças nos requisitos do cliente ou no ambiente externo, garantindo que o projeto permaneça alinhado com as necessidades em constante evolução. 
                </p>
            <div class="card">
                <div class="container">
                    <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                        <p class="ppp"><font color="#C8C8C8">
                            Quando surgem mudanças nos requisitos do cliente, como a adição de novas opções de personalização para as notificações, a equipe se adapta rapidamente. Eles ajustam o plano original e reavaliam suas abordagens, garantindo que o produto permaneça alinhado com as expectativas do cliente.</font> 
                        </p>                    
                </div>
            </div>   
        <br>  
            <P class="pp"><strong> 5. Cultivando a Melhoria Contínua: </strong></P> 
                <p class="pp2">
                    A auto-organização também estimula a cultura de melhoria contínua dentro das equipes. Ao refletirem sobre seu próprio trabalho e identificarem áreas de oportunidade, os membros da equipe podem implementar melhorias incrementais ao longo do tempo, garantindo uma entrega de valor cada vez mais eficiente.
                </p>
            <div class="card">
                <div class="container">
                    <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                        <p class="ppp"><font color="#C8C8C8">
                            Após a entrega do recurso de notificação, a equipe realiza uma retrospectiva para revisar o processo de desenvolvimento. Eles identificam áreas de oportunidade, como aprimorar a eficiência do código ou simplificar a interface do usuário das configurações de notificação, e implementam melhorias incrementalmente em futuras iterações do projeto.</font> 
                        </p>                    
                </div>
            </div>
        <br>
            <img src="{{ url_for('static', filename='/imgs/auto_org.png') }}" class="imag">
        <br>
        <br>

        <!--Facilitação-->

            <h1> Facilitação </h1>
                <p class="pp2">
                    No contexto ágil, o Scrum Master desempenha um papel crucial como facilitador, atuando como um catalisador para as ideias que surgem dentro da equipe. Nesta seção, exploraremos como o Scrum Master busca otimizar processos, reduzir conflitos e motivar a equipe, promovendo um ambiente colaborativo e orientado para resultados.
                </p>
        <br>
            <P class="pp"><strong> 1. Catalisando Ideias e Inovação: </strong></P> 
                <p class="pp2">
                    Como facilitador, o Scrum Master está constantemente buscando catalisar ideias e promover a inovação dentro da equipe. Ele encoraja a livre expressão de ideias e opiniões, criando um ambiente seguro onde os membros da equipe se sintam confortáveis para compartilhar suas perspectivas e contribuições. Além disso, o Scrum Master utiliza técnicas de facilitação, como brainstorming e técnicas de criatividade, para estimular a geração de novas ideias e soluções.
                </p>
        <br>
            <P class="pp"><strong> 2. Otimizando Processos e Fluxos de Trabalho: </strong></P> 
                <p class="pp2">
                    Uma das principais responsabilidades do Scrum Master como facilitador é otimizar os processos e fluxos de trabalho da equipe. Ele trabalha em estreita colaboração com os membros da equipe para identificar oportunidades de melhoria e implementar mudanças que aumentem a eficiência e a eficácia do trabalho. Isso pode incluir a realização de workshops de retrospectiva para refletir sobre o desempenho passado e identificar áreas de oportunidade para melhorias futuras.
                </p>
        <br>     
            <P class="pp"><strong> 3. Reduzindo Conflitos e Promovendo a Colaboração: </strong></P> 
                <p class="pp2">
                    Outra função importante do Scrum Master como facilitador é reduzir conflitos e promover um ambiente de trabalho colaborativo. Ele atua como um mediador neutro em situações de conflito, ajudando a facilitar a comunicação e encontrar soluções que sejam mutuamente benéficas para todas as partes envolvidas. Além disso, o Scrum Master incentiva a colaboração entre os membros da equipe, promovendo a troca de conhecimento e experiências. 
                </p>           
        <br>  
            <P class="pp"><strong> 4. Motivando a Equipe e Promovendo o Engajamento: </strong></P> 
                <p class="pp2">
                    O Scrum Master também desempenha um papel importante na motivação da equipe e no fomento do engajamento. Ele reconhece e celebra as conquistas da equipe, proporcionando feedback positivo e incentivando o desenvolvimento pessoal e profissional dos membros da equipe. Além disso, o Scrum Master promove um ambiente de trabalho inclusivo e estimulante, onde todos se sintam valorizados e empoderados para contribuir para o sucesso do projeto.
                </p>            
        <br>
            <img src="{{ url_for('static', filename='/imgs/facilitador.png') }}" class="imag">
        <br>
        <br>

        <!--Visão-->

            <h1> Visão </h1>
                <p class="pp2">
                    A visão do produto, transmitida pelo Product Owner (P.O), desempenha um papel crucial no desenvolvimento ágil, permitindo que ele transfira o direcionamento do projeto para a equipe. Nesta seção, exploraremos como a visão do produto proporciona uma excelente oportunidade para a equipe aprender e discutir aspectos importantes do produto, promovendo uma compreensão compartilhada e um alinhamento eficaz.
                </p>
        <br>
            <P class="pp"><strong> 1. Definindo a Visão do Produto: </strong></P> 
                <p class="pp2">
                    A visão do produto é uma declaração clara e concisa que descreve o propósito, os objetivos e os valores do produto. É transmitida pelo Product Owner para garantir que todos na equipe tenham uma compreensão comum do que estão construindo e por quê. A visão do produto serve como um guia para o desenvolvimento do produto, ajudando a equipe a tomar decisões alinhadas com os objetivos do projeto.
                </p>
        <br>
            <P class="pp"><strong> 2. Transferindo o Direcionamento do Projeto: </strong></P> 
                <p class="pp2">
                    Ao comunicar a visão do produto para a equipe, o Product Owner transfere o direcionamento do projeto, capacitando os membros da equipe a tomar decisões informadas e assumir a responsabilidade pelo sucesso do produto. Isso cria um senso de propriedade e engajamento entre os membros da equipe, que se tornam mais investidos no sucesso do projeto e motivados a contribuir para alcançar os objetivos estabelecidos.
                </p>
        <br>     
            <P class="pp"><strong> 3. Promovendo a Aprendizagem e a Discussão: </strong></P> 
                <p class="pp2">
                    A visão do produto proporciona uma excelente oportunidade para a equipe aprender e discutir aspectos importantes do produto. Ao entender os objetivos e as necessidades dos stakeholders, os membros da equipe podem discutir e explorar diferentes abordagens para atender às expectativas do cliente e entregar valor de forma eficaz. Isso promove uma cultura de aprendizagem contínua e melhoria dentro da equipe, onde todos são incentivados a contribuir com suas ideias e perspectivas. 
                </p>           
        <br>  
            <P class="pp"><strong> 4. Fomentando a Compreensão Compartilhada: </strong></P> 
                <p class="pp2">
                    Ao transmitir a visão do produto, o Product Owner promove uma compreensão compartilhada entre os membros da equipe. Todos têm uma visão clara do que estão trabalhando para alcançar e por que é importante. Isso ajuda a alinhar as atividades da equipe com os objetivos do projeto e a garantir que todos estejam trabalhando na mesma direção.
                </p>            
        <br>
            <img src="{{ url_for('static', filename='/imgs/vision.png') }}" class="imag">
        <br>
        <br>

        <!--User Stoires-->

        <h1> User Stories </h1>
            <p class="pp2">
                User Stories são elementos cruciais no Product Backlog em metodologias ágeis, como o Scrum. Nesta seção, vamos explorar o significado das User Stories, sua criação e sua importância para o sucesso do projeto.
            </p>
    <br>
        <P class="pp"><strong> 1. O Que São User Stories: </strong></P> 
            <p class="pp2">
                User Stories são pequenas descrições de funcionalidades ou requisitos do produto, escritas do ponto de vista do usuário final. Elas representam uma parcela específica do trabalho necessário para entregar valor ao cliente ou usuário. Cada User Story é concebida para ser independente, negociável, valiosa para o usuário, estimável e pequena o suficiente para ser completada em um curto período de tempo.
            </p>
        <div class="card">
            <div class="container">
                <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                    <p class="ppp"><font color="#C8C8C8">
                        Como usuário do sistema de e-commerce, eu quero poder adicionar produtos ao meu carrinho de compras, para que eu possa revisá-los e finalizar minha compra posteriormente</font> 
                    </p>                    
            </div>
        </div>
    <br>
        <P class="pp"><strong> 2. Componentes de uma User Story:</strong></P> 
            <p class="pp2">
                Uma User Story geralmente consiste em três elementos principais: quem, o que e por que. Essa estrutura garante que todos na equipe compreendam quem se beneficia da funcionalidade, o que precisa ser feito e por que é importante para o usuário ou cliente.
            </p>
            <p class="ppp2"> -> <strong><i>Quem: </i></strong> Esta parte indica quem é o usuário ou grupo de usuários que se beneficiará da funcionalidade descrita na User Story. É importante identificar claramente para quem estamos desenvolvendo o recurso. </p>
            <p class="ppp2"> -> <strong><i>O que: </i></strong> Aqui descrevemos a funcionalidade ou ação que o usuário deseja realizar. É o que o usuário quer fazer ou o problema que precisa ser resolvido. </p>
            <p class="ppp2"> -> <strong><i>Por que: </i></strong> Esta parte explica o motivo pelo qual a funcionalidade é importante para o usuário ou para o sucesso do projeto. Ajuda a equipe a entender o valor que será entregue ao cliente ou usuário final. </p>
        <div class="card">
            <div class="container">
                <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                    <p class="ppp"><font color="#C8C8C8"><strong><i>Quem: </i></strong> Usuário do sistema de e-commerce.</font></p>
                    <p class="ppp"><font color="#C8C8C8"><strong><i>O que: </i></strong> Adicionar produtos ao carrinho de compras.</font></p>
                    <p class="ppp"><font color="#C8C8C8"><strong><i>Por que: </i></strong> Para revisar e finalizar a compra posteriormente.</font></p>
            </div>
        </div>   
    <br>     
        <P class="pp"><strong> 3. Critérios de Aceitação em User Stories: </strong></P> 
            <p class="pp2">
                Os critérios de aceitação são condições específicas que definem quando uma User Story está completa e atende às expectativas do cliente ou usuário. Eles são uma parte fundamental da definição de uma User Story, pois ajudam a equipe a entender claramente o que precisa ser entregue e como verificar se a funcionalidade está funcionando conforme o esperado. 
            </p>
            <p class="ppp2"> -> <strong><i>Clareza e Objetividade: </i></strong> Os critérios de aceitação devem ser claros e objetivos, descrevendo de forma precisa o comportamento esperado da funcionalidade. </p>
            <p class="ppp2"> -> <strong><i>Mensurabilidade: </i></strong> Os critérios devem ser mensuráveis e verificáveis. Ou seja, deve ser possível determinar facilmente se a funcionalidade atende aos critérios definidos. </p>
            <p class="ppp2"> -> <strong><i>Relevância: </i></strong> Os critérios devem ser relevantes para a funcionalidade descrita na User Story. Eles devem refletir os requisitos e as expectativas do cliente ou usuário. </p>
            <p class="ppp2"> -> <strong><i>Abrangência: </i></strong> Os critérios devem cobrir todos os aspectos importantes da funcionalidade. Eles devem abordar diferentes cenários de uso e considerar possíveis exceções. </p>
        <div class="card">
            <div class="container">
                <p><font color="#C8C8C8"><strong> Exemplo prático: </strong></font></p> 
                    <p class="ppp"><font color="#C8C8C8"><strong><i>User Storie: </i></strong> Como um usuário do sistema de e-commerce, desejo poder adicionar produtos ao meu carrinho de compras, para que eu possa revisá-los e finalizar minha compra posteriormente.</font></p>
                    <p class="ppp"><font color="#C8C8C8"><strong><i>Critérios de aceitação: </i></strong></font></p>
                    <p class="ppp"><font color="#C8C8C8"> - O usuário pode adicionar produtos clicando no botão "Adicionar ao Carrinho".</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O carrinho de compras é atualizado automaticamente com os produtos adicionados.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O usuário pode visualizar os produtos adicionados ao carrinho antes de finalizar a compra.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O carrinho de compras permite a remoção de produtos, caso o usuário deseje.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O usuário pode aumentar ou diminuir a quantidade de cada produto no carrinho.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O sistema exibe claramente o total da compra no carrinho de compras.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - O carrinho de compras mantém os produtos adicionados mesmo após o usuário sair e voltar à página.</p></font>
                    <p class="ppp"><font color="#C8C8C8"> - Caso o usuário adicione um produto já existente no carrinho, o sistema não duplica o item, mas atualiza a quantidade</p></font>
                    <br>
                    <p class="ppp"><font color="#C8C8C8"> Esses critérios garantem que a funcionalidade de adicionar produtos ao carrinho de compras seja implementada de acordo com as expectativas do usuário e funcione corretamente em diferentes cenários de uso.</p></font>
                </div>
        </div>   
    <br>  
    <br>
        <img src="{{ url_for('static', filename='/imgs/user_storie.png') }}" class="imag">
    <br>
    <br> 
        </div>
        <br>
        <br>
        <br>
        <div class="position_btn">
            <div class="button">
                <button class="button"><a href="/mod_5"><font color="#C8C8C8"><span> Voltar</span></font></button>
            </div>
            <br>
            <div class="button2">
                <button class="button"><a href="/mod_7"><font color="#C8C8C8"><span> Avançar</span></font></button>
            </div>
        </div>
        <br>
        <br>
        <br>

{% endblock %}