{% extends 'base.html' %}

{% block title %}Módulo 5{% endblock %}

{% block styles %}
        <style>
            body{
                justify-content: space-around;
                margin: 0%;
                margin-bottom: 0%;
                font-family: 'Alatsi',  sans-serif;
                background-color: #C8C8C8;
            }

            #menu ul{
                background-color: #32363f;
                list-style: none;
            }

            #menu{ 
                padding: 52px 25px; 
                background-color:#32363f; 
                color: #32363f; 
                justify-content: space-around;
            }

            #menu ul li a{ 
                padding: 30px 10px; 
                background-color:#32363f; 
                color: #32363f; 
                font-family: "Poppins", sans-serif;
            }

            #menu ul li{
                left: 31pc;
                display: inline;
                padding: 13px
            } 

            .img{
                justify-content: space-around;
                display: flex;
                float:right ;
                margin: 0 10px 10px 0;
                position: absolute;
                top: 04pc;
                right: 7pc;
            }

            .div2{
                display: flex;
                width: 91,5pc;
                display: flex;
                border-top: 10vh solid #32363F;
                border-left: 9vh solid #32363F;
                height: 45vh;    background-color: #32363F;
                margin-bottom: -94px;

            }

            footer{
                display: flex;
                background-color: #32363f;
                height: 30vh;
            }

            .footer-custom{
                margin: auto 9vh;
                font-family: "Poppins", sans-serif;
                color: #C8C8C8;
                background-color: #32363f;
                height: 18vh;
                padding: 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-between
            }

            .divtext{
                margin-top: -3pc;
                margin-left: 100px;
                margin-right: 100px;
                text-align: justify;
            }
            .funcoes{
                margin-top: 6pc;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 80px;
                text-align: justify;
            }
            p{
                line-height: 1.5;
                text-indent: 50px;
            }
            .pp{
                line-height: 1.5;
                text-indent: 80px;
            }
            .pp2{
                line-height: 1.5;
                text-indent: 100px;
            }
            .ppp{
                line-height: 1.5;
                text-indent: 120px;
            }
            .ppp2{
                line-height: 1.5;
                text-indent: 140px;
            }
            .imag{
                width: 45%;
                height: 45%;
                margin-left: 350px;
                margin-right: 350px;
            }
            .card {
                box-shadow: 0 4px 8px 0 #1c1e21;
                transition: 0.3s;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .card:hover {
                box-shadow: 0 8px 16px 0 #1c1e21;
            }
            .container {
                background-color: #32363F;
                padding: 2px 16px;
            }
            .button {
                background-color: #32363F;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button:hover {opacity: 1}

            .button2 {
                background-color: #32363F;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button2:hover {opacity: 1}

            .position_btn{
                display: flex;
                justify-content:center;
                align-items: center;
            }
            
        </style>
{% endblock %}

{% block content %}
    <div class="div2">
        <img src="{{ url_for('static', filename='/imgs/fundamentos1.png') }}" width="500px" height="500" class="img">
        <h1 style="font-size: 5pc; position: absolute;top: 13pc; left:59px;"><font color="D6D6D6"> 5. ARTEFATOS</font></h1>
    </div>
    <div class="wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>

    <!-- Curso -->

    <div class="divtext">
        <h1> ARTEFATOS DE SCRUM </h1>
            <h3> Introdução </h3>
            <p> A metodologia Scrum utiliza diferentes artefatos para fornecer uma visão clara do progresso do projeto e das Sprints. Aqui estão alguns dos principais artefatos utilizados no Scrum: </p>
            <ul>
                <li> <strong><i>Product Backlog</i></strong> </li>
                <li> <strong><i>Sprint Backlog</i></strong> </li>
                <li> <strong><i>Product Increment</i></strong> </li>
                <li> <strong><i>Definition of Done (DoD)</i></strong> </li>
                <li> <strong><i>Burndown Chart</i></strong> </li>
            </ul>
            <p> Cada um desses artefatos desempenha um papel importante em diferentes estágios do projeto Scrum, desde a criação e priorização de tarefas no Product Backlog até a entrega de um incremento do produto ao final de cada Sprint. </p>
        <br>
        <br>
        <h1>PRODUCT BACKLOG</h1>
        <p>O artefato <strong><i>Product backlog</i></strong> apresenta as seguintes características:</p>
        <ul>
            <li><strong><i>Lista priorizada de itens de trabalho:</i></strong> Esta é uma lista que contém todas as tarefas que precisam ser realizadas para desenvolver ou melhorar um produto. Essas tarefas podem incluir coisas como adicionar novos recursos, corrigir problemas existentes, melhorar a infraestrutura do sistema, entre outras.</li> 
            <li><strong><i>Elaborada pelo Time Scrum, mas somente o Product Owner tem autoridade para gerenciá-la:</i></strong> O Time Scrum, que inclui desenvolvedores, designers, testadores, etc., trabalha em conjunto para criar e priorizar essa lista de tarefas. No entanto, apenas o Product Owner, que é responsável por representar os interesses do cliente ou do usuário final, tem o poder de decidir quais tarefas serão realizadas e em que ordem.</li>
            <li><strong><i>Contém itens de negócios, funcionais, não funcionais, arquiteturais e de infraestrutura, além de itens que representam riscos:</i></strong> Essa lista não se limita apenas a novos recursos ou funcionalidades visíveis para o usuário. Ela também inclui tarefas relacionadas à parte técnica do sistema, como melhorias na arquitetura do software, atualizações de infraestrutura de servidores, garantia de segurança, etc. Além disso, podem ser incluídos itens relacionados a questões de negócios, como a necessidade de atender a regulamentações específicas ou reduzir riscos de segurança.</li>
            <li><strong><i>Itens ordenados de acordo com sua importância, com os mais importantes no topo:</i></strong> As tarefas na lista são organizadas de acordo com sua prioridade, com aquelas consideradas mais importantes ou urgentes no topo da lista. Isso permite que a equipe saiba quais tarefas devem ser abordadas primeiro.</li>
            <li><strong><i>Cada item deve ser suficientemente pequeno e ter critérios claros de aceitação para ser incluído em uma Sprint:</i></strong> Para que uma tarefa seja considerada pronta para ser trabalhada em uma iteração (Sprint) do desenvolvimento, ela precisa ser clara e específica o suficiente, além de ter critérios claros que definam quando ela estará completa e pronta para ser entregue aos usuários. Isso garante que a equipe possa trabalhar de forma eficiente e entender exatamente o que precisa ser feito.</li>
        </ul>
        <div class="card">
            <div class="container">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Imagine que você tem um aplicativo no seu celular para organizar suas tarefas diárias, como fazer compras, pagar contas ou estudar. Esse aplicativo precisa melhorar e você tem algumas ideias para isso.</font> </P>
                <P class="pp"><font color="#C8C8C8"><strong><i>  Adicionar função de criação de tarefas: </i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">Isso significa tornar mais fácil para você adicionar novas tarefas ao aplicativo. É como quando você escreve em um papel o que precisa fazer. Neste caso, vamos fazer uma tela onde você pode digitar o que precisa ser feito e quando precisa ser feito.</font> </P>
                <p class="pp"><font color="#C8C8C8"><strong><i>  Implementar notificações push: </i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Sabe quando você recebe uma mensagem no seu celular mesmo quando não está usando o aplicativo? Isso é uma notificação push. A ideia aqui é fazer o aplicativo te avisar quando uma tarefa estiver quase vencendo ou quando alguém te atribuir uma nova tarefa. Assim, você não esquece de fazer nada importante.</font> </p>
                <P class="pp"><font color="#C8C8C8"><strong><i>  Integrar com calendário: </i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">Você já usa um calendário no seu celular para marcar compromissos ou eventos? A ideia é fazer o aplicativo de tarefas conversar com esse calendário. Assim, quando você marcar uma tarefa para um dia específico no aplicativo de tarefas, ela vai aparecer automaticamente no seu calendário. E se você mudar alguma coisa no calendário, como adiar um compromisso, a tarefa também será atualizada no aplicativo de tarefas.</font> </p>
            </div>
        </div>
{% endblock %}