{% extends 'base.html' %}

{% block title %}Módulo 7{% endblock %}

{% block styles %}
<style>
        body{
                justify-content: space-around;
                margin: 0%;
                margin-bottom: 0%;
                font-family: 'Alatsi',  sans-serif;
                background-color: #C8C8C8;
            }

            #menu ul{
                background-color: #32363f;
                list-style: none;
            }

            #menu{ 
                padding: 52px 25px; 
                background-color:#32363f; 
                color: #32363f; 
                justify-content: space-around;
            }

            #menu ul li a{ 
                padding: 30px 10px; 
                background-color:#32363f; 
                color: #32363f; 
                font-family: "Poppins", sans-serif;
            }

            #menu ul li{
                left: 31pc;
                display: inline;
                padding: 13px
            } 

            .img{
                justify-content: space-around;
                display: flex;
                float:right ;
                margin: 0 10px 10px 0;
                position: absolute;
                top: 04pc;
                right: 7pc;
            }

            .div2{
                display: flex;
                width: 91,5pc;
                display: flex;
                border-top: 10vh solid #32363F;
                border-left: 9vh solid #32363F;
                height: 45vh;    background-color: #32363F;
                margin-bottom: -94px;

            }

            footer{
                display: flex;
                background-color: #32363f;
                height: 30vh;
            }

            .footer-custom{
                margin: auto 9vh;
                font-family: "Poppins", sans-serif;
                color: #C8C8C8;
                background-color: #32363f;
                height: 18vh;
                padding: 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-between
            }

            .divtext{
                margin-top: -3pc;
                margin-left: 100px;
                margin-right: 100px;
                text-align: justify;
            }
            .funcoes{
                margin-top: 6pc;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 80px;
                text-align: justify;
            }
</style>
{% endblock %}

{% block content %}
<!-- Conteúdo específico para a página 7 -->

<div class="divtext">
    <h1> ESTIMATIVA </h1>
        <h3> O que é estimativa? </h3>
            <p>Aplicada em Story Points, é utilizada para estimar a quantidade de tempo e esforço que uma tarefa necessita. </p>
        
    <img src="{{ url_for('static', filename='/imgs/Introdução7.png') }}" class="imag">
<br>
<br>
        <p>Os Pontos de História/Story Points são unidades de medida usadas para expressar o tamanho geral de uma História do Usuário, ou como são conhecidas, as User Stories. </p>
        <p>Quando fazemos estimativas com Pontos de História, atribuímos um valor, ou Story Points, a cada item.</p>
        <p>Primeiramente, decide-se a tarefa com menos esforço (1) e classifica-se as próximas em comparação a ela.</p>
        <p>Os valores brutos que são atribuídos não são importantes, sendo os valores relativos mais importantes para o processo das estimativas.</p>
<br>
<p class="pp"><strong> Com isso, como estimar usando Story Points(Pontos de História)? </strong>,</p> 
    <p class="pp2"> Vamos agora a três passos que devem ser seguidos para estimar usando Pontos de História.</p>
    <p class="ppp"><strong><i> 1. Escolher uma escala: </i></strong></p>
    <p class="ppp2"> ->Diferentemente de projetos tradicionais, em que a estimativa é transformada em horas ou dias, uma equipe Scrum desenvolve sua própria escala de medida. No próximo tópico, serão apresentados mais detalhes a respeito da escala tradicionalmente utilizada em projetos Scrum.
    </p>
<p class="ppp"><strong><i>2. Escolha itens de referência:</i></strong></p>
    <p class="ppp2"> -> O Scrum permite que as equipes respondam rapidamente a mudanças e imprevistos. </p>
    <p class="ppp2"> -> Depois que a escala de medida foi definida, escolhem-se um ou mais itens de referências para se criarem os pontos da escala. </p>
    <p class="ppp2"> -> É recomendável que se escolha o menor item da lista, pois facilita a estimativa de esforço dos seguintes itens e, com isso, você começa a criar uma unidade de medida de desenvolvimento. </p>
 
<p class="ppp"><strong><i> 3. Estime itens do Product Backlog:/i></strong></p>
    <p class="ppp2"> -> Uma vez criada a referência, começa-se a realizar a estimativa dos itens do topo do Product Backlog. Sendo o processo em que a equipe de desenvolvimento define a grandeza de cada item da lista, a partir do item de referência.
    </p>

    <p class="ppp2"> -> É parecido com um processo em cadeia, pois, para a estimativa do item seguinte, deve-se levar em consideração os itens já estimados, com uma comparação dos itens de referência, e assim por diante.</p>
<br>
    <h1>Planning Poker</h1>
        <p> Um dos métodos de estimativa mais populares é o Planning Poker, que consiste em um jogo colaborativo em que os membros do time atribuem um valor de Story Points a cada item do backlog, baseando-se em critérios como o tamanho, a dificuldade, o risco e a incerteza da tarefa.</p>
        <p>O Planning Poker estimula a discussão e o consenso entre os participantes, além de evitar influências externas ou viéses individuais.</p>
<br>
        <img src="{{ url_for('static', filename='/imgs/PlanningPoker7.png') }}" class="imag">
<br>
        <p>No início do Planning Poker, cada membro do time recebe um conjunto de cartas com valores de estimativa (por exemplo, 0, 1, 2, 3, 5, 8, 13, 20, 40 e 100). Esses valores geralmente seguem uma escala baseada na sequência de Fibonacci, embora outras sequências também possam ser usadas.</p>    
<br>
    <p>Para cada User Story a ser estimada, o Product Owner lê a descrição e esclarece eventuais dúvidas do time. Entretanto, é importante notar que, em certo ponto, discussões adicionais não aumentam a precisão da estimativa.</p>
    <p>Após esclarecer todas as dúvidas, cada membro seleciona uma carta representando sua estimativa, sem mostrar aos outros. As cartas só são reveladas simultaneamente, permitindo que todos vejam os valores selecionados ao mesmo tempo.</p>
<br>
<div class="button">
<button class="button" style="vertical-align:middle;"><a href="/modulos"><font color="#C8C8C8"><span> Módulos</span></font></button>
</div>
<br>
</div>
<br>
<br>
<br>

{% endblock %}