{% extends 'base.html' %}

{% block title %}Módulos{% endblock %}

{% block styles %}
        <style>
            body{
                justify-content: space-around;
                margin: 0%;
                margin-bottom: 0%;
                font-family: 'Alatsi',  sans-serif;
                background-color: #C8C8C8;
            }

            #menu ul{
                background-color: #32363f;
                list-style: none;
            }

            #menu{ 
                padding: 52px 25px; 
                background-color:#32363f; 
                color: #32363f; 
                justify-content: space-around;
            }

            #menu ul li a{ 
                padding: 30px 10px; 
                background-color:#32363f; 
                color: #32363f; 
                font-family: "Poppins", sans-serif;
            }

            #menu ul li{
                left: 31pc;
                display: inline;
                padding: 13px
            } 

            .img{
                justify-content: space-around;
                display: flex;
                float:right ;
                margin: 0 10px 10px 0;
                position: absolute;
                top: 04pc;
                right: 7pc;
            }

            .div2{
                display: flex;
                width: 91,5pc;
                display: flex;
                border-top: 10vh solid #32363F;
                border-left: 9vh solid #32363F;
                height: 45vh;    background-color: #32363F;
                margin-bottom: -94px;

            }

            footer{
                display: flex;
                background-color: #32363f;
                height: 30vh;
            }

            .footer-custom{
                margin: auto 9vh;
                font-family: "Poppins", sans-serif;
                color: #C8C8C8;
                background-color: #32363f;
                height: 18vh;
                padding: 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-between
            }

            .divtext{
                margin-top: -3pc;
                margin-left: 100px;
                margin-right: 100px;
                text-align: justify;
            }
            .funcoes{
                margin-top: 6pc;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 80px;
                text-align: justify;
            }
        </style>
{% endblock %}

{% block content %}
        <div class="div2">
            <img src="{{ url_for('static', filename='img/imgcapa1.png') }}" width="500px" height="500" class="img">
            <h1 style="font-size: 5pc; position: absolute;top: 13pc; left:59px;"><font color="D6D6D6"> 1. INTRODUÇÃO</font></h1>
        </div>
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
        </div>

        <!-- curso -->

        <div class="divtext">
            <h1> DEFINIÇÕES E ORIGEM DO SCRUM </h1>
            <h6> Introdução </h6>
            <p>
                Nos últimos anos, o desenvolvimento de software passou por uma transformação significativa. Em um mercado cada vez mais dinâmico e competitivo, as abordagens tradicionais de gestão de projetos muitas vezes se mostraram inadequadas para lidar com as demandas de clientes e as mudanças frequentes nos requisitos. É nesse contexto que surgem os Métodos Ágeis, uma abordagem flexível e adaptativa que busca maximizar o valor entregue ao cliente através de colaboração, feedback contínuo e entrega incremental.
                Um dos métodos ágeis mais populares e amplamente adotados é o SCRUM. Criado por Jeff Sutherland e Ken Schwaber no início dos anos 90, o SCRUM oferece uma estrutura simples, mas poderosa, para gerenciar projetos complexos. Baseado em princípios como transparência, inspeção e adaptação, o SCRUM permite que as equipes entreguem software de alta qualidade de forma rápida e eficiente.
                Neste artigo, vamos explorar em detalhes os fundamentos do SCRUM, desde seus princípios básicos até suas práticas mais avançadas. Ao final desta leitura, você terá uma compreensão sólida do SCRUM e estará preparado para aplicar esses conceitos em seu próprio ambiente de trabalho.
            </p>
            <img src="{{ url_for('static', filename='img/Mod 1-introdução') }}" width="500px" height="500" class="img">
        </div>
        <div class="funcoes">
            <h1> Funções </h1>

            <h4> Scrum Master </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, massa non blandit rutrum, felis odio vehicula tellus, ornare finibus ex est sit amet lorem. In ut sollicitudin metus. Curabitur finibus massa non lacus maximus lobortis. Etiam id euismod velit. Nulla fringilla pharetra nisl. Aliquam tristique tristique nibh, non posuere tortor congue nec. Phasellus maximus elit vitae tortor posuere congue. Nam rhoncus ullamcorper ipsum id rhoncus.</p>
            <br>
            <p> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            
            <h4> Product Owner </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, massa non blandit rutrum, felis odio vehicula tellus, ornare finibus ex est sit amet lorem. In ut sollicitudin metus. Curabitur finibus massa non lacus maximus lobortis. Etiam id euismod velit. Nulla fringilla pharetra nisl. Aliquam tristique tristique nibh, non posuere tortor congue nec. Phasellus maximus elit vitae tortor posuere congue. Nam rhoncus ullamcorper ipsum id rhoncus.</p>
            <br>
            <p> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            
            <h4> Dev Team </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet, massa non blandit rutrum, felis odio vehicula tellus, ornare finibus ex est sit amet lorem. In ut sollicitudin metus. Curabitur finibus massa non lacus maximus lobortis. Etiam id euismod velit. Nulla fringilla pharetra nisl. Aliquam tristique tristique nibh, non posuere tortor congue nec. Phasellus maximus elit vitae tortor posuere congue. Nam rhoncus ullamcorper ipsum id rhoncus.</p>
            <br>
            <p> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        </div>
{% endblock %}