{% extends 'base.html' %}

{% block title %}Módulo 5{% endblock %}

{% block styles %}
        <style>
           body{
                justify-content: space-around;
                margin: 0%;
                margin-bottom: 0%;
                font-family: 'Alatsi',  sans-serif;
                background-color: #C8C8C8;
            }

            #menu ul{
                background-color: #32363f;
                list-style: none;
            }

            #menu{ 
                padding: 52px 25px; 
                background-color:#32363f; 
                color: #32363f; 
                justify-content: space-around;
            }

            #menu ul li a{ 
                padding: 30px 10px; 
                background-color:#32363f; 
                color: #32363f; 
                font-family: "Poppins", sans-serif;
            }

            #menu ul li{
                left: 31pc;
                display: inline;
                padding: 13px
            } 

            .img{
                justify-content: space-around;
                display: flex;
                float:right ;
                margin: 0 10px 10px 0;
                position: absolute;
                top: 04pc;
                right: 7pc;
            }

            .div2{
                display: flex;
                width: 91,5pc;
                display: flex;
                border-top: 10vh solid #32363F;
                border-left: 9vh solid #32363F;
                height: 45vh;    background-color: #32363F;
                margin-bottom: -94px;

            }

            footer{
                display: flex;
                background-color: #32363f;
                height: 30vh;
            }

            .footer-custom{
                margin: auto 9vh;
                font-family: "Poppins", sans-serif;
                color: #C8C8C8;
                background-color: #32363f;
                height: 18vh;
                padding: 20px;
                display: flex;
                flex-flow: column;
                justify-content: space-between
            }

            .divtext{
                margin-top: -3pc;
                margin-left: 100px;
                margin-right: 100px;
                text-align: justify;
            }
            .funcoes{
                margin-top: 6pc;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 80px;
                text-align: justify;
            }
            .h3{
                line-height: 1.5;
                text-indent: 20px;
            }
            p{
                line-height: 1.5;
                text-indent: 50px;
            }
            .pp{
                line-height: 1.5;
                text-indent: 80px;
            }
            .pp2{
                line-height: 1.5;
                text-indent: 100px;
            }
            .ppp{
                line-height: 1.5;
                text-indent: 120px;
            }
            .ppp2{
                line-height: 1.5;
                text-indent: 140px;
            }
            .imag{
                width: 45%;
                height: 45%;
                margin-left: 350px;
                margin-right: 350px;
            }
            .cardcard {
                box-shadow: 0 4px 8px 0 #1c1e21;
                transition: 0.3s;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            .cardcard:hover {
                box-shadow: 0 8px 16px 0 #1c1e21;
            }
            .containercard{
                background-color: #32363F;
                padding: 2px 16px;
            }
            .button {
                background-color: #32363F;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button:hover {opacity: 0.8}

            .button2 {
                background-color: #32363F;
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 1;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .button2:hover {opacity: 0.8}

            .position_btn{
                display: flex;
                justify-content:center;
                align-items: center;
            }
            
        </style>
{% endblock %}

{% block content %}
    <div class="div2">
        <img src="{{ url_for('static', filename='/imgs/fundamentos1.png') }}" width="500px" height="500" class="img">
        <h1 style="font-size: 5pc; position: absolute;top: 13pc; left:59px;"><font color="D6D6D6"> 5. ARTEFATOS</font></h1>
    </div>
    <div class="wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>

    <!-- Curso -->

    <div class="divtext">
        <h1> ARTEFATOS DE SCRUM </h1>
            <p> A metodologia Scrum utiliza diferentes artefatos para fornecer uma visão clara do progresso do projeto e das Sprints. Aqui estão alguns dos principais artefatos utilizados no Scrum: </p>
            <div class="cardcard">
                <div class="containercard">
                <br>
                <font color="#C8C8C8">
                <ul>
                    <li> <strong><i>Product Backlog</i></strong> </li>
                    <li> <strong><i>Sprint Backlog</i></strong> </li>
                    <li> <strong><i>Product Increment</i></strong> </li>
                    <li> <strong><i>Definition of Done (DoD)</i></strong> </li>
                    <li> <strong><i>Burndown Chart</i></strong> </li>
                </ul>
                </div>
            </font>
            </div>
            <br>
            <p> Cada um desses artefatos desempenha um papel importante em diferentes estágios do projeto Scrum, desde a criação e priorização de tarefas no Product Backlog até a entrega de um incremento do produto ao final de cada Sprint. </p>
            <img src="{{ url_for('static', filename='/imgs/scrumboard.png') }}" class="imag">
        <br>
        <br>
        <h1>PRODUCT BACKLOG</h1>
        <p><strong><i>O QUE É UM PRODUCT BACKLOG?</i></strong></p>
        <p>O Product Backlog no Scrum é como uma lista de desejos para um produto. É uma lista de todas as coisas que queremos fazer para melhorar o produto, como adicionar novas funcionalidades, corrigir problemas ou fazer melhorias. Resumindo o conteúdo em tópicos:</p>
        <ul>
            <li><strong><i>Lista priorizada de itens de trabalho:</i></strong> Esta é uma lista que contém todas as tarefas que precisam ser realizadas para desenvolver ou melhorar um produto. Essas tarefas podem incluir coisas como adicionar novos recursos, corrigir problemas existentes, melhorar a infraestrutura do sistema, entre outras.</li> 
            <li><strong><i>Elaborada pelo Time Scrum, mas somente o Product Owner tem autoridade para gerenciá-la:</i></strong> O Time Scrum, que inclui desenvolvedores, designers, testadores, etc., trabalha em conjunto para criar e priorizar essa lista de tarefas. No entanto, apenas o Product Owner, que é responsável por representar os interesses do cliente ou do usuário final, tem o poder de decidir quais tarefas serão realizadas e em que ordem.</li>
            <li><strong><i>Contém itens de negócios, funcionais, não funcionais, arquiteturais e de infraestrutura, além de itens que representam riscos:</i></strong> Essa lista não se limita apenas a novos recursos ou funcionalidades visíveis para o usuário. Ela também inclui tarefas relacionadas à parte técnica do sistema, como melhorias na arquitetura do software, atualizações de infraestrutura de servidores, garantia de segurança, etc. Além disso, podem ser incluídos itens relacionados a questões de negócios, como a necessidade de atender a regulamentações específicas ou reduzir riscos de segurança.</li>
            <li><strong><i>Itens ordenados de acordo com sua importância, com os mais importantes no topo:</i></strong> As tarefas na lista são organizadas de acordo com sua prioridade, com aquelas consideradas mais importantes ou urgentes no topo da lista. Isso permite que a equipe saiba quais tarefas devem ser abordadas primeiro.</li>
            <li><strong><i>Cada item deve ser suficientemente pequeno e ter critérios claros de aceitação para ser incluído em uma Sprint:</i></strong> Para que uma tarefa seja considerada pronta para ser trabalhada em uma iteração (Sprint) do desenvolvimento, ela precisa ser clara e específica o suficiente, além de ter critérios claros que definam quando ela estará completa e pronta para ser entregue aos usuários. Isso garante que a equipe possa trabalhar de forma eficiente e entender exatamente o que precisa ser feito.</li>
        </ul>
        <br>    
        <div class="cardcard">
            <div class="containercard">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Imagine que você tem um aplicativo de mensagens instantâneas em seu celular. Recentemente, vocês receberam feedback dos usuários de que o aplicativo precisa de algumas melhorias para torná-lo mais eficiente e fácil de usar. Então, vocês decidem priorizar três melhorias principais:</font> </P>
                <P class="pp"><font color="#C8C8C8"><strong><i> Adicionar suporte para envio de mensagens de voz:</i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Situação: Muitos usuários expressaram desejo de poder enviar mensagens de voz em vez de digitar todas as mensagens.</li>
                    <li>Objetivo: Facilitar a comunicação entre os usuários, especialmente em situações onde digitar não é prático, como quando estão dirigindo ou com pressa.</li>
                    <li>Ação: Iniciar o processo de projeto e desenvolvimento de uma função que permita aos usuários gravar e enviar mensagens de voz dentro do aplicativo. Isso envolve a criação de uma interface intuitiva para gravar, revisar e enviar as mensagens de voz.</li>
                </ul>
                </font> </P>
                <p class="pp"><font color="#C8C8C8"><strong><i>Implementar criptografia de ponta a ponta nas mensagens:</i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Situação: Alguns usuários expressaram preocupações com a privacidade de suas conversas no aplicativo.</li>
                    <li>Objetivo: Garantir que as conversas dos usuários estejam protegidas contra acesso não autorizado, garantindo que apenas os remetentes e destinatários possam ler as mensagens.</li>
                    <li>Ação: Iniciar o processo de implementação de criptografia de ponta a ponta, onde as mensagens serão codificadas de tal forma que somente os dispositivos do remetente e destinatário poderão decifrá-las, mesmo que passem por servidores intermediários.</li>
                </ul>
                </font> </P>
                <P class="pp"><font color="#C8C8C8"><strong><i>Melhorar a pesquisa de conversas antigas:</i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Situação: Muitos usuários têm dificuldade em encontrar conversas antigas dentro do aplicativo, especialmente quando há muitas mensagens trocadas.</li>
                    <li>Objetivo: Facilitar para os usuários encontrar e acessar rapidamente conversas antigas, mesmo aquelas que aconteceram há muito tempo.</li>
                    <li>Ação: Iniciar o processo de melhoria do mecanismo de pesquisa dentro do aplicativo, implementando filtros avançados, organização por data e palavra-chave, e garantindo que todas as mensagens sejam indexadas de forma eficiente para uma pesquisa rápida e precisa.</li>
                </ul>
                </font> </P>
            </div>
        </div>
        <br>
        <br>
        <h1>SPRINT BACKLOG</h1>
        <p><strong><i>O QUE É UM SPRINT BACKLOG?</i></strong></p>
        <p>O Sprint Backlog no Scrum é uma lista de tarefas específicas que a equipe de desenvolvimento escolhe para trabalhar durante um período de tempo chamado Sprint. Essas tarefas são retiradas de uma lista maior de coisas a serem feitas chamada Product Backlog. Resumindo o conteúdo em tópicos:</p>
        <ul>
            <li><strong><i>Composto pelos itens selecionados para implementação durante a Sprint, juntamente com o plano para transformá-los em um Incremento do produto:</i></strong> Durante o planejamento da Sprint, a equipe seleciona uma quantidade de itens do Product Backlog que considera viável para trabalhar durante aquela iteração. Esses itens selecionados são movidos para o Sprint Backlog e representam o trabalho que a equipe se compromete a completar até o final da Sprint. O Sprint Backlog também inclui um plano detalhado de como esses itens serão transformados em um Incremento do produto funcional e potencialmente entregável até o final da Sprint.</li>
            <li><strong><i>Geralmente organizado em um Taskboard, onde as tarefas são listadas como "To do", "Doing" e "Done":</i></strong> Um Taskboard é uma ferramenta visual usada pela equipe Scrum para acompanhar o progresso das tarefas durante a Sprint. Nele, as tarefas são divididas em colunas, como "A fazer" (To do), "Fazendo" (Doing) e "Feito" (Done). Cada tarefa é representada por um cartão, e a equipe move esses cartões entre as colunas à medida que progride no trabalho.</li>
            <li><strong><i>Pode ser atualizado durante a Sprint para refletir novas descobertas ou necessidades:</i></strong> Durante a Sprint, a equipe pode encontrar novas informações, obstáculos inesperados ou mudanças nas prioridades que afetam o Product Backlog. Nesses casos, o Product Owner e a equipe podem decidir adicionar, remover ou reordenar itens no backlog para refletir as necessidades atuais do produto. Essa flexibilidade permite que a equipe responda de maneira ágil a mudanças e incertezas durante o desenvolvimento do produto.</li>
        </ul>
        <br>
        <div class="cardcard">
            <div class="containercard">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Vamos imaginar que uma equipe esteja trabalhando em um projeto de desenvolvimento de um aplicativo de gerenciamento de tarefas. Durante o planejamento da Sprint, eles selecionaram os seguintes itens do Product Backlog para implementação durante a Sprint atual:</font></P>
                <p><font color="#C8C8C8">
                <ol>
                    <li>Criar a função de adicionar novas tarefas.</li>
                    <li>Implementar notificações push para lembretes de tarefas.</li>
                    <li>Integrar o aplicativo com calendários externos para sincronização de eventos.</li>
                </ol>
                </font></P>
                <p class="ppp"><font color="#C8C8C8">Agora, vamos dar uma olhada no Sprint Backlog, que inclui um plano detalhado de como esses itens serão transformados em um Incremento do produto funcional e potencialmente entregável até o final da Sprint:</font></P>
                <p><font color="#C8C8C8">
                <ul>
                    <li><strong>TO DO</strong></li>
                    <ol>
                        <li>Criar telas de adição de novas tarefas.</li>
                    </ol>
                    <li><strong>DOING</strong></li>
                    <ol start="2">
                        <li>Implementar serviço de notificações push (APIs e configurações)</li>
                        <ol type="i">
                            <li>Design da tela</li>
                            <li>Desenvolvimento</li>
                            <li>Testes unitários</li>
                        </ol>
                    </ol>
                    <li><strong>DONE</strong></li>
                    <ol start="3">
                        <li>Integrar com calendários externos (Google Calendar, etc.)</li>
                        <ol type="i">
                            <li>Testes de integração</li>
                            <li>Implementação de funcionalidades extras (Por exemplo, lembretes).</li>
                        </ol>
                    </ol>
                </ul>
                <p class="ppp"><font color="#C8C8C8">Durante a Sprint, a equipe trabalha em cada item conforme planejado:</font></P>
                </font></P>
                <P class="pp"><font color="#C8C8C8"><strong><i>Criar tela de adição de novas tarefas:</i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8"> A equipe começa desenvolvendo o design da tela, seguido pelo desenvolvimento da funcionalidade de adicionar novas tarefas. Conforme avançam, eles realizam testes unitários para garantir que a funcionalidade esteja funcionando corretamente.</font> </P>
                <p class="pp"><font color="#C8C8C8"><strong><i>Implementar serviço de notificações push:</i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Enquanto a tela de adição de tarefas está sendo finalizada, parte da equipe começa a trabalhar na implementação do serviço de notificações push. Eles configuram as APIs necessárias e realizam testes para garantir que as notificações sejam entregues corretamente aos usuários.</font> </p>
                <P class="pp"><font color="#C8C8C8"><strong><i>Integrar com calendários externos:</i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">Paralelamente ao desenvolvimento das outras duas funcionalidades, outra parte da equipe trabalha na integração do aplicativo com calendários externos. Eles realizam testes de integração para garantir que os eventos criados no aplicativo também apareçam corretamente nos calendários externos, como o Google Calendar.</font> </p>
                <p class="ppp"><font color="#C8C8C8">À medida que progridem no trabalho, eles movem os cartões no Taskboard de acordo com o status de cada tarefa, mantendo a visibilidade do progresso de cada item. Se surgirem novas descobertas ou necessidades durante a Sprint, o Sprint Backlog pode ser atualizado para refletir essas mudanças, garantindo que a equipe permaneça ágil e adaptável durante o processo de desenvolvimento.</font> </P>
            </div>
        </div>
        <br>
        <br>
        <h1>PRODUCT INCREMENT</h1>
        <p><strong><i>O QUE É PRODUCT INCREMENT?</i></strong></p>
        <p>No método Scrum é como uma versão atualizada do produto que é entregue a cada período de trabalho chamado Sprint. Ele inclui todas as novas funcionalidades e melhorias que a equipe de desenvolvimento implementou durante essa Sprint, além de tudo o que já foi feito antes. Resumindo o conteúdo em tópicos:</p>
        <ul>
            <li><strong><i>Entrega ao final de cada Sprint pelo Time de Desenvolvimento:</i></strong> Após cada período de trabalho designado (Sprint), o Time de Desenvolvimento entrega uma parte funcional e potencialmente utilizável do produto.</li>
            <li><strong><i>Potencialmente entregável:</i></strong> O incremento entregue ao final da Sprint é potencialmente utilizável e pronto para ser implantado em produção. Embora possa não conter todos os recursos desejados, é seguro e funcional, permitindo progresso incremental.</li>
            <li><strong><i>Requer código de alta qualidade:</i></strong> O incremento é resultado do trabalho realizado durante a Sprint, refletindo esforços para produzir código de alta qualidade. É desenvolvido com o mínimo de defeitos possível, seguindo práticas de desenvolvimento e testes rigorosas.</li>
            <li><strong><i>Resultado do trabalho realizado durante a Sprint:</i></strong> Cada incremento representa o progresso alcançado durante o período de trabalho da Sprint. Reflete a implementação de funcionalidades planejadas e priorizadas pelo Time de Desenvolvimento e Product Owner.</li>
        </ul>
        <br>
        <div class="cardcard">
            <div class="containercard">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p> 
                <p class="ppp"><font color="#C8C8C8">Imagine que você está construindo uma casa.</font></P>
                <p class="pp"><font color="#C8C8C8"><strong><i>Construção da Casa:</i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Cada Sprint é uma etapa no processo de construção da casa.</li>
                </ul>
                <p class="pp"><font color="#C8C8C8"><strong><i>Product Increment como Parte da Casa:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Ao final de cada Sprint, há um Product Increment, que é como uma parte da casa pronta.</li>
                    <li>Na primeira Sprint, pode ser as paredes; na próxima, o telhado.</li>
                </ul>
                </font>
                <p class="pp"><font color="#C8C8C8"><strong><i>Potencialmente Entregável:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>O Product Increment é "potencialmente entregável", significando que poderia ser usado de forma segura e funcional, mas a casa ainda não está completa.</li>
                </ul>
                </font>
                <p class="pp"><font color="#C8C8C8"><strong><i>Adição de Novos Elementos a Cada Sprint:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>A cada Sprint, algo novo é adicionado ao "produto", que é a casa em construção.</li>
                    <li>Cada incremento é uma parte adicional da casa.</li>
                </ul>
                </font>
                <p class="pp"><font color="#C8C8C8"><strong><i>Qualidade Importante:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Cada parte, ou incremento, deve ser feita com qualidade.</li>
                    <li>Paredes firmes e bem-feitas; telhado que protege contra a chuva.</li>
                </ul>
                </font>
                <p class="pp"><font color="#C8C8C8"><strong><i>Riscos de Falhas:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>Falhas na construção podem causar problemas nas etapas seguintes.</li>
                    <li>Paredes mal feitas podem prejudicar o telhado; telhado mal construído pode causar vazamentos.</li>
                </ul>
                </font>
                <p class="pp"><font color="#C8C8C8"><strong><i>Garantia de Qualidade:</i></strong></font></p>
                </font></p>
                <p class="ppp"><font color="#C8C8C8">
                    <ul>
                        <li>O Product Increment é como construir uma casa peça por peça, garantindo que cada parte seja feita com qualidade e pronta para uso, mesmo que a casa completa ainda não esteja pronta.</li>
                    </ul>
                </font>
            </div>
        </div>
        <br>
        <br>
        <h1>DEFINITION OF DONE (DOD)</h1>
        <p><strong><i>O QUE É DEFINITION OF DONE (DOD)?</i></strong></p>
        <p>A Definição de Pronto (DoD) é uma lista de critérios que define quando uma funcionalidade está completa e pronta para ser entregue ao cliente ou usuário final. Resumindo o conteúdo em tópicos:</p>
        <ul>
            <li><strong><i>CRITÉRIOS DE UMA FUNCIONALIDADE "PRONTA":</i></strong></li>
            <ol>
                <li>A funcionalidade deve ter sido testada unitariamente, garantindo que cada componente individual funcione conforme o esperado.</li>
                <li>Deve passar por testes de aceitação, validando que atende aos requisitos do cliente ou usuário final.</li>
                <li>Requer revisões de código, garantindo que o código seja de alta qualidade, fácil de entender e siga as práticas e padrões estabelecidos pela equipe.</li>
            </ol>
            <li><strong><i>PROCESSO DE VALIDAÇÃO:</i></strong></li>
            <ol>
                <li>Uma funcionalidade só é considerada "pronta" após passar por todas as etapas definidas pelo Time de Desenvolvimento.</li>
                <li>Isso significa que ela deve cumprir todos os critérios estabelecidos na Definição de Pronto antes de ser considerada finalizada.</li>
            </ol>
            <li><strong><i>COMPREENSÃO E EVOLUÇÃO:</i></strong></li>
            <ol>
                <li>A Definição de Pronto deve ser compreendida por todos os membros do Scrum, garantindo que haja um entendimento comum do que é esperado de uma funcionalidade finalizada.</li>
                <li>Além disso, ela pode ser expandida ao longo do tempo para incluir mais critérios de qualidade à medida que a equipe amadurece e aprende com suas experiências. Isso permite que a equipe continue a elevar o padrão de qualidade do produto ao longo do tempo.</li>
            </ol>
        </ul>
        <br>
        <div class="cardcard">
            <div class="containercard">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p> 
                <P class="pp"><font color="#C8C8C8"><strong><i>1. Todos os casos de teste devem passar:</i></strong></font></P>
                <p class="ppp"><font color="#C8C8C8">Imagine que estamos construindo um robô que tem três funções principais: pegar objetos, movê-los para outro lugar e soltá-los lá. Antes de considerarmos o robô pronto, precisamos ter certeza de que ele pode realizar cada uma dessas funções sem problemas. Portanto, todos os testes que criamos para verificar se ele pode pegar, mover e soltar objetos devem ser realizados e bem-sucedidos. Isso garante que o robô funcione como esperado em todas as situações.</font> </P>
                <p class="pp"><font color="#C8C8C8"><strong><i>2. O código deve ser revisado por pelo menos dois membros do Time de Desenvolvimento:</i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Imagine que o código é como um livro escrito por um autor. Antes de publicar o livro, é uma boa ideia que outras pessoas o leiam e deem sua opinião para garantir que não haja erros ou partes confusas. Da mesma forma, antes de considerarmos o código pronto, pelo menos duas pessoas da equipe devem lê-lo e revisá-lo. Isso nos ajuda a encontrar e corrigir eventuais erros e garantir que o código seja claro e fácil de entender para todos.</font> </p>
                <p class="pp"><font color="#C8C8C8"><strong><i>3. A documentação deve ser atualizada:</i></strong></font></p>
                <p class="ppp"><font color="#C8C8C8">Pense na documentação como um manual de instruções para usar o robô que construímos. Se fizemos algumas melhorias no robô ou adicionamos novas funções, é importante atualizar o manual para que as pessoas saibam como usar essas novidades. Da mesma forma, se fizemos mudanças no aplicativo, precisamos atualizar qualquer documento que explique como usá-lo. Isso garante que as pessoas tenham as informações corretas e atualizadas quando precisarem.</font> </p>
            </div>
        </div>
        <br>
        <br>
        <h1>BURNDOWN CHART</h1>  
        <p><strong><i>O QUE É UM SPRINT BURNDOWN CHART?</i></strong></p>
        <ul>
            <li>É um gráfico que mostra visualmente como o trabalho do Time de Desenvolvimento evolui durante uma Sprint (um período de tempo de trabalho).</li>
        </ul>
        <p><strong><i>COMO FUNCIONA?</i></strong></p>
        <ul>
            <li>Ele compara a quantidade de trabalho que foi estimada inicialmente com a quantidade restante de trabalho ao longo do tempo.</li>
            <li>Isso significa que você pode ver se a equipe está progredindo conforme o planejado ou se está atrasada em relação ao que foi planejado.</li>
        </ul>
        <p><strong><i>COMO AJUDA?</i></strong></p>
        <ul>
            <li>Ajuda o Time de Desenvolvimento a se auto-gerenciar, pois eles podem ver claramente o progresso do trabalho e fazer ajustes se necessário para cumprir os objetivos da Sprint.</li>
            <li>Também permite que a organização acompanhe o progresso da Sprint e faça intervenções se necessário para garantir que o trabalho seja concluído dentro do prazo.</li>
        </ul>
        <p><strong><i>USO PELO PRODUCT OWNER:</i></strong></p>
        <ul>
            <li>O Product Owner pode usar um tipo específico de Burndown Chart, chamado Release Burndown Chart, para gerenciar o progresso de todo o lançamento do produto (release).</li>
            <li>Isso é feito com base nas estimativas fornecidas pelo Time de Desenvolvimento, permitindo que o Product Owner acompanhe o progresso geral do projeto e tome decisões informadas sobre o lançamento do produto.</li>
        </ul>
        <br>
        <div class="cardcard">
            <div class="containercard">
                <p><font color="#C8C8C8"><strong> Exemplos práticos: </strong></font></p> 
                <p class="ppp"><font color="#C8C8C8">Vamos imaginar que uma equipe está desenvolvendo um aplicativo de gerenciamento de tarefas e está atualmente em uma Sprint de duas semanas. Durante o planejamento da Sprint, a equipe estima que precisará concluir 100 pontos de história (unidade de medida de trabalho). Nesse contexto, o Sprint Burndown Chart seria uma representação visual do progresso diário da equipe na conclusão desses 100 pontos de história ao longo das duas semanas da Sprint. Aqui está como poderia ser:</font></P>
                <p class="ppp"><font color="#C8C8C8">
                <ul>
                    <li>No primeiro dia da Sprint, o gráfico mostra uma linha começando em 100 pontos no eixo vertical (quantidade total de trabalho planejada) e no dia 0 no eixo horizontal (tempo).</li>
                    <li>À medida que a equipe avança no trabalho durante os dias seguintes, a linha do gráfico desce gradualmente, mostrando a quantidade de trabalho que resta para ser concluída.</li>
                    <li>Se a equipe estiver progredindo conforme o planejado, a linha do gráfico seguirá uma trajetória descendente em direção a zero, indicando que estão no caminho certo para concluir os 100 pontos de história até o final da Sprint.</li>
                    <li>Se a equipe estiver atrasada, a linha do gráfico pode se nivelar ou até mesmo subir, indicando que eles estão demorando mais do que o esperado para concluir o trabalho.</li>
                </ul>
                </font>
            </div>
        </div>
        <br>
        <br>
        <div class="position_btn">
            <div class="button">
                <button class="button"><a href="/mod_4"><font color="#C8C8C8"><span> Voltar </span></font></button>
            </div>
            <br>
            <div class="button2">
                <button class="button"><a href="/mod_6"><font color="#C8C8C8"><span> Avançar </span></font></button>
            </div>
        </div>
        <br>
        <br>
        <br>
{% endblock %}