{% extends 'base.html' %} 

{% block title %}Módulo 2{% endblock %}

{% block styles %}
<style>
  body {
    justify-content: space-around;
    margin: 0%;
    margin-bottom: 0%;
    font-family: "Alatsi", sans-serif;
    background-color: #c8c8c8;
  }

  .divtext {
    margin-top: -3pc;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
  }
  .funcoes {
    margin-top: 6pc;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    text-align: justify;
  }
  .h3 {
    line-height: 1.5;
    text-indent: 20px;
  }
  p {
    line-height: 1.5;
    text-indent: 50px;
  }
  .pp {
    line-height: 1.5;
    text-indent: 80px;
  }
  .pp2 {
    line-height: 1.5;
    text-indent: 100px;
  }
  .ppp {
    line-height: 1.5;
    text-indent: 120px;
  }
  .ppp2 {
    line-height: 1.5;
    text-indent: 140px;
  }
  .imag {
    width: 45%;
    height: 45%;
    margin-left: 350px;
    margin-right: 350px;
  }
  .cardcard {
    box-shadow: 0 4px 8px 0 #1c1e21;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .cardcard:hover {
    box-shadow: 0 8px 16px 0 #1c1e21;
  }
  .containercard {
    background-color: #32363f;
    padding: 2px 16px;
  }
  .btn.btn-lg.btn-dark{
      background-color:#32363F;
  }
  .btn.btn-lg.btn-dark:hover{
      background-color: #464c5c;
  }
  .d-grid.gap-2.d-md-flex{
      justify-content: space-between;
  }
  .btn.my-5{
      font-size: larger;
  }
  .btncelso:hover{
      color: #464c5c;
  }

  #sidebar {
      position: sticky;
      top: 0;
      height: 100vh;
      overflow-y: auto;
  }

  #main-content {
      overflow-y: auto;
      padding-left: 15px;
  }
  
  .container-custom{
                height: 50vh;
                background-color: #32363f;
            }
            .title-mod{
                margin: 30px 50px;
                color: #D6D6D6;
                
            }
            .title-mod h1{
                font-size: 120px;
            }

            .img{
                width: 500px;
                height: auto;
            }

            @media (max-width:575.98px){
                .title-mod h1{
                    font-size: 40px;
                }
                .img{
                    width: 335px;
                    height: auto;
                }
            }

            @media (min-width: 576px) and (max-width: 767.98px){
                .img{
                    width: 350px;
                    height: auto;
                }
            }

            @media (min-width: 768px) and (max-width: 991.98px){
                .img{
                    width: 400px;
                    height: auto;
                }
            }

            @media (min-width: 992px) and (max-width: 1224.98px){
                .img{
                    width: 400px;
                    height: auto;
                }
            }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid container-custom position-relative">
  <div class="row">
      <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
          <div class="title-mod">
              <h1>2. Definições</h1>
          </div>
      </div>
      <div class="col-lg-6 col-md-12 text-center text-lg-end div-img">
          <img src="{{ url_for('static', filename='imgs/pilarescapa.png') }}" class="img" alt="Imagem do módulo">
      </div>
      
  </div>
</div>
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#32363F" fill-opacity="1" d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,218.7C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z" ></path></svg>
        </div>

        <!-- curso -->

        <div
        data-bs-spy="scroll"
        data-bs-target="#navbar-example3"
        data-bs-offset="0"
      >

      <div class="container-fluid">
        <div class="row">

          <div class="col-2">
            <nav id="sidebar">
              <div
                class="scrollspy-example-2"
                data-bs-spy="scroll"
                data-bs-target="#navbar-example3"
                data-bs-offset="0"
                tabindex="0"
              >
              <nav class="nav nav-pills flex-column">
                <h5 class="mt-3">Sumário</h5>
                <a class="nav-link" href="#item-1">Definições do Scrum</a>
                <a class="nav-link" href="#item-2">1. Transparência</a>
                <a class="nav-link" href="#item-3">2. Inspeção</a>
                <a class="nav-link" href="#item-4">3. Adaptação</a>
                <!-- Adicionar o número total de tópicos de seu módulo -->
              </nav>
              </div>
            </nav>
          </div>

        <div class="col-10">
          <div id="main-content">


        <div class="divtext">
          <br>
          <br>
              <div class="item" id="item-1">
                <h1> Definições do Scrum </h1>
                    <p><strong><i> Os Pilares do Scrum </i></strong></p>
                        <p class="pp">Os pilares do Scrum, transparência, inspeção e adaptação, são a base fundamental que sustenta a filosofia ágil do
                        framework. Esses princípios não apenas definem a essência do Scrum, mas também moldam a maneira como as equipes
                        colaboram, planejam e executam projetos. Através da transparência, as informações relevantes são compartilhadas
                        abertamente, permitindo uma compreensão clara do progresso e dos desafios enfrentados. </p>
                        <p class="pp">A inspeção contínua do trabalho garante que a qualidade seja mantida e que as entregas estejam alinhadas com as
                        expectativas. E, por fim, a adaptação permite que as equipes respondam de forma ágil às mudanças e ajustem suas
                        estratégias conforme necessário. Juntos, esses pilares capacitam as equipes a enfrentar os desafios do projeto de forma
                        eficaz e a maximizar o valor entregue ao cliente.</p>
                <img src="{{ url_for('static', filename='imgs/pilaresintro.png')}}" class="imag">
                        <br>
                        <br>
              </div>
            <div class="item" id="item-2">
              <h3> 1. Transparência </h3>
                <p>Transparência é mais do que apenas uma palavra no contexto do Scrum; é um princípio orientador que permeia todas as
                atividades e interações da equipe. No Scrum, a transparência se manifesta em várias dimensões, começando pelo Backlog do
                Produto. Este é um artefato que captura todas as funcionalidades, requisitos, melhorias e correções desejadas para o
                produto em desenvolvimento. Ele é visível e acessível a todos os membros da equipe, bem como aos stakeholders
                relevantes.</p>
                <p>Além disso, durante o planejamento do sprint, a equipe seleciona itens do backlog do produto para incluir no backlog do
                sprint. Este último é uma lista de tarefas ou funcionalidades específicas que serão trabalhadas durante o sprint atual.
                Esta seleção é feita de forma transparente, com base nas prioridades estabelecidas pela equipe e nas necessidades do
                cliente ou do produto.</p>
                <p>Durante o sprint, a transparência se manifesta nas reuniões diárias de stand-up, onde os membros da equipe compartilham
                o progresso do trabalho, discutem desafios e atualizam uns aos outros sobre o status das tarefas. Essas reuniões são
                oportunidades cruciais para manter todos informados e alinhados em relação aos objetivos do sprint.</p>
                <p>Outro aspecto importante da transparência no Scrum são as reuniões de revisão de sprint. Estas são realizadas no final
                de cada sprint, onde a equipe apresenta o trabalho concluído aos stakeholders e recebe feedback valioso. Essa abertura e
                visibilidade do progresso do trabalho não apenas promovem a confiança e a colaboração dentro da equipe, mas também
                permitem que os stakeholders influenciem diretamente o curso do projeto.</p>
                <p>Manter a transparência em todas essas áreas não é apenas uma prática recomendada, mas sim um pilar central do Scrum.
                Isso garante que todos os envolvidos estejam alinhados, informados e capacitados para tomar decisões baseadas em dados e
                necessidades reais do projeto. A transparência é a base sobre a qual o Scrum constroi a confiança, a colaboração e o
                sucesso do projeto.</p>
              <br>
              <div class="cardcard">
                <div class="containercard">
                  <p><font color="C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                      <p class="pp"><font color="C8C8C8">Durante o planejamento do sprint, a equipe realiza uma reunião detalhada e colaborativa, na qual todos os membros têm
                      acesso ao backlog do produto. Este backlog, que é uma lista abrangente de funcionalidades, requisitos e melhorias
                      desejadas para o aplicativo de gerenciamento de tarefas, é apresentado de forma transparente e acessível a todos os
                      envolvidos.</font></p>
                      <p class="pp"><font color="C8C8C8">Durante a revisão do backlog, cada item é discutido em detalhes, com a participação ativa de todos os membros da equipe.
                        Eles não apenas revisam as funcionalidades, mas também entendem os motivos por trás de cada requisito, as expectativas
                        dos stakeholders e as prioridades estabelecidas para o sprint. </font></p>
                      <p class="pp"><font color="C8C8C8">Essa revisão aberta e transparente garante que todos tenham uma compreensão clara e compartilhada do trabalho a ser
                        realizado, promovendo um alinhamento comum e um compromisso coletivo com os objetivos do sprint. Além disso, essa
                        abordagem transparente cria um ambiente de confiança e colaboração, onde os membros da equipe se sentem capacitados a
                        contribuir com ideias e soluções, resultando em um planejamento mais eficaz e uma entrega de maior qualidade. </font></p>
                </div>
              </div>
                <br>
            </div>
              <div class="item" id="item-3">
                <h3> 2. Inspeção </h3>
                  <p>Inspeção é um componente essencial do Scrum, representando a avaliação contínua e sistemática do trabalho realizado e dos produtos resultantes. Essa prática de inspecionar o progresso do projeto ocorre em vários pontos-chave ao longo do ciclo de vida do sprint, fornecendo oportunidades cruciais para identificar desvios, corrigir o curso e garantir a qualidade e a entrega bem-sucedida.</p>
                  <p>Durante o planejamento do sprint, a equipe revisa e estima as tarefas a serem realizadas. Essa é uma forma inicial de inspeção, onde a equipe examina o backlog do sprint e as expectativas para determinar a viabilidade e a capacidade de entrega durante o período do sprint. Esta inspeção ajuda a garantir que as metas e objetivos do sprint sejam realistas e alcançáveis.</p>
                  <p>As reuniões diárias de stand-up também servem como pontos de inspeção fundamentais. Nestas breves reuniões, os membros da equipe compartilham o progresso do trabalho, identificam possíveis obstáculos e discutem estratégias para resolver problemas. Esta inspeção diária permite que a equipe identifique e aborde rapidamente quaisquer desafios ou desvios que surjam durante o sprint.</p>
                  <p>Ao final de cada sprint, ocorre a análise de sprint, onde a equipe revisa o trabalho concluído em relação às metas estabelecidas. Esta é uma oportunidade crucial de inspeção, onde a equipe avalia o que foi realizado, o que não foi, e quaisquer desvios em relação ao plano inicial. Esta análise ajuda a equipe a identificar áreas de melhoria e a ajustar suas abordagens para futuros sprints.</p>
                  <p>Por fim, a retrospectiva do sprint é outra oportunidade importante para inspeção. Nesta reunião, a equipe reflete sobre o processo de trabalho, identifica o que funcionou bem, o que não funcionou e quais melhorias podem ser implementadas no próximo sprint. Esta inspeção contínua e reflexiva é fundamental para o aprimoramento contínuo da equipe e do processo de desenvolvimento como um todo.</p>
                  <p>Em resumo, a inspeção no Scrum é uma prática fundamental que ocorre em múltiplos níveis e em diferentes pontos ao longo do ciclo de vida do sprint. Essa avaliação regular e sistemática do trabalho realizado permite que a equipe identifique desvios, faça ajustes e mantenha o projeto no caminho certo em direção aos seus objetivos.</p>
                            <br>
                            <div class="cardcard">
                <div class="containercard">
                  <p><font color="C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                      <p class="pp"><font color="C8C8C8">No final de cada dia, a equipe se reúne para uma reunião diária de stand-up, uma prática consagrada no Scrum, na qual cada membro compartilha abertamente o progresso do trabalho realizado durante o dia. Durante essa breve reunião, cada membro relata o que foi realizado desde a última reunião, quais tarefas estão planejadas para o próximo período e quaisquer obstáculos ou desafios enfrentados ao longo do dia. Essa troca de informações em tempo real permite que a equipe tenha uma compreensão clara do status atual do projeto e identifique rapidamente qualquer desvio em relação às metas do sprint.
                      </font></p>
                      <p class="pp">
                        <font color="C8C8C8">Além de compartilhar o progresso do trabalho, a equipe também aproveita essa oportunidade para identificar possíveis obstáculos ou impedimentos que estejam impactando seu progresso. Ao trazer à tona esses desafios durante a reunião diária, a equipe pode colaborar para encontrar soluções e tomar medidas corretivas imediatas, se necessário. Isso ajuda a garantir que quaisquer problemas sejam abordados rapidamente, minimizando seu impacto no progresso geral do sprint.</font></p>
                      <p class="pp">
                        <font color="C8C8C8">Essa inspeção diária do progresso do trabalho e identificação de obstáculos não apenas mantém todos os membros da equipe informados, mas também promove a responsabilidade coletiva e a colaboração. Ao reunir-se regularmente para revisar o progresso e discutir desafios, a equipe permanece focada em suas metas e pode tomar medidas proativas para garantir o sucesso do sprint. </font></p>
                </div>
                            </div>
                            <br>
              </div>
              <div class="item" id="item-4">
                <h3> 3. Adaptação </h3>
                  <p>A adaptação, o terceiro e crucial pilar do Scrum, complementa e se baseia na inspeção contínua. Depois de inspecionar meticulosamente o processo e o produto, as equipes estão equipadas com dados e insights valiosos que as capacitam a fazer adaptações significativas. Essa capacidade de adaptação é o que permite que o Scrum responda de forma eficaz aos desafios e mudanças inevitáveis que surgem ao longo do ciclo de vida do projeto.</p>
                  <p>Após a inspeção do progresso e dos resultados, as equipes podem fazer adaptações em várias áreas, desde o backlog do sprint até o plano geral do projeto. Uma das adaptações mais comuns é ajustar o backlog do sprint, adicionando, removendo ou re-priorizando tarefas com base no feedback recebido durante o sprint atual. Essa flexibilidade permite que a equipe responda rapidamente a novas informações ou requisitos do cliente, garantindo que o trabalho permaneça alinhado com as necessidades e expectativas em constante mudança.</p>
                  <p>Além disso, as equipes podem fazer adaptações nas reuniões diárias de stand-up, alterando a estrutura ou o foco das discussões para abordar desafios específicos que surgiram durante o sprint. Por exemplo, se um obstáculo inesperado surgir, a equipe pode usar a reunião diária para colaborar na resolução do problema e ajustar o plano de ação conforme necessário.</p>
                  <p>A adaptabilidade também se estende ao plano geral do projeto. Se durante a análise de sprint ou a retrospectiva do sprint, a equipe identificar tendências preocupantes ou oportunidades de melhoria significativas, ela pode fazer ajustes no plano geral do projeto para garantir que os próximos sprints sejam mais eficazes e bem-sucedidos.</p>
                  <p>Em resumo, a adaptação é essencial para a eficácia do Scrum, permitindo que as equipes se ajustem continuamente com base no feedback e nas mudanças no ambiente do projeto. Essa capacidade de se adaptar rapidamente é o que torna o Scrum tão poderoso e eficaz em ambientes de desenvolvimento dinâmicos e complexos. Ao incorporar os pilares da transparência, inspeção e adaptação, as equipes podem enfrentar os desafios do desenvolvimento de software de forma ágil e colaborativa, alcançando maior sucesso e satisfação do cliente.</p>
                            <br>
                            <div class="cardcard">
                <div class="containercard">
                  <p><font color="C8C8C8"><strong> Exemplos práticos: </strong></font></p>
                      <p class="pp"><font color="C8C8C8">Durante a análise de sprint, que é realizada ao final de cada ciclo de trabalho, a equipe se reúne para revisar minuciosamente o trabalho concluído em comparação com as metas estabelecidas para o sprint. Durante essa revisão, a equipe identifica áreas onde as expectativas não foram atendidas e analisa os motivos por trás desses desvios. Essa análise detalhada permite que a equipe compreenda melhor os fatores que contribuíram para o sucesso ou para os desafios encontrados durante o sprint.</font></p>
                      <p class="pp">
                        <font color="C8C8C8">Ao identificar as áreas que não atenderam às expectativas, a equipe colabora para encontrar maneiras de melhorar no próximo sprint. Isso pode envolver a identificação de processos ou práticas que não foram eficazes, a revisão de estimativas ou prioridades de tarefas, ou o desenvolvimento de novas estratégias para lidar com desafios específicos. Essa discussão aberta e reflexiva permite que a equipe aprenda com as experiências passadas e se adapte para garantir um desempenho melhorado no próximo ciclo de trabalho.</font></p>
                      <p class="pp">
                        <font color="C8C8C8">Como resultado dessa adaptação, a equipe ajusta o backlog do sprint para refletir as lições aprendidas e garantir uma entrega mais eficaz no próximo ciclo. Isso pode envolver a adição, remoção ou re-priorização de tarefas com base no feedback recebido durante o sprint atual. Esses ajustes no backlog do sprint garantem que a equipe esteja alinhada com as necessidades do projeto e que esteja trabalhando nas tarefas mais importantes e prioritárias para alcançar os objetivos estabelecidos. Essa abordagem iterativa e adaptativa é fundamental para o sucesso do Scrum, permitindo que a equipe aprenda e melhore continuamente ao longo do tempo.</font></p>
                </div>
                            </div>
                            <img src="{{ url_for('static', filename='/imgs/pilaresfinal.png')}}" class="imag">
                            <br>
                            <br>
              </div>
        <hr>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-lg btn-dark" href="/mod_2_quiz">Teste seu conhecimento</a>
        </div>
        <br>
        <br>
        <div>
            <div class="d-grid gap-2 d-md-flex">
                <a class="btn my-5 btncelso" href="/mod_1"><i><strong>← Módulo anterior<strong></i></a>
                <a class="btn my-5 btncelso" href="/mod_3"><i><strong>Próximo módulo →</strong></i></a>
            </div>
        </div>
      </div>
      </div>
      </div>
      </div>
{% endblock %}